.main-section {
    background-image: url('../img/poke-hero_bac2afe6-8cfd-4937-bd90-f1069ce4e256_1800x.webp');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.card {
    height: 100px;
}

.card img{
    height: 250px;
}